# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# Xcode
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
macos/Flutter/Generated.xcconfig
macos/Pods/
macos/Podfile.lock
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Others
*.log
.flutter-plugins-dependencies
